asgiref==3.5.0
certifi==2021.10.8
Django==4.0.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
django-extra-fields==3.0.2
djangorestframework-simplejwt==5.1.0
psycopg2==2.9.3
pymongo==4.1.0
sqlparse==0.4.2
pytz==2022.1
tzdata==2022.1
wincertstore==0.2
Pillow==9.1.0
requests==2.27.1
