@font-face {
  font-family: 'Rasa';
  src: local('Rasa'), url(./fonts/Rasa-VariableFont_wght.ttf) format('truetype');
}

body {
  font-family: "Rasa", sans-serif !important;
  margin: 0;
  font-style: normal;
}