@font-face {
  font-family: 'Rasa';
  src: local('Rasa'), url(./fonts/Rasa-VariableFont_wght.ttf) format('truetype');
}

body {
  font-family: 'Rasa', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
